<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>TweetHit: The Most Popular Products on Twitter</title>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<link rel="icon" type="image/png" href="/favicon.ico" />
</head>

<body>
		<div id="wrapper">
	
		<div id="header">
			<h1><a href="{{root_url}}">TweetHit</a></h1>
		</div>
		
		<div id="content" align="left">
			<div style = "margin-left:2cm;">
			<h2>Affiliate Linking</h2><br>
			
			<p>
			It is possible to direct people to TweetHit using unique URLs, so that
			when a user buys a product, the whole comission is transferred to your Amazon
			Associates account.
			</p>
			
			<h3>Step 1</h3><br>
			
			Create affiliate accounts for Amazon Stores <br>
			(You should provide a website that you own)
			<br><br> 

			Amazon.com:	<a href='https://affiliate-program.amazon.com/' >affiliate-program.amazon.com</a><br>
			Amazon.co.uk: <a href='https://affiliate-program.amazon.co.uk/' >affiliate-program.amazon.co.uk</a><br>
			Amazon.ca:		<a href='https://associates.amazon.ca/' >associates.amazon.ca</a><br>
			Amazon.de:		<a href='https://partnernet.amazon.de/' >partnernet.amazon.de</a><br>
			Amazon.fr:		<a href='https://partenaires.amazon.fr/' >partenaires.amazon.fr</a><br>
			Amazon.jp:		<a href='https://affiliate.amazon.co.jp/' >affiliate.amazon.co.jp</a>
			<br><br> 
			
			Tip: You can first register for Amazon.co.uk and then activate associate accounts for both Amazon.de and Amazon.fr within Amazon.co.uk settings page.
			<br><br>
				
			<h3>Step 2</h3><br>
			
			Go the <a href='settings/' >Affiliate Settings</a> screen (Need Google account for login) <br> 
			Save your affiliate IDs <br>
			Get your unique referral URL <br><br> 
			
			<h3>Step 3</h3><br>
			
			Direct traffic to TweetHit using your unique URL.<br>
			All of the affiliate IDs will be replaced for your unique URL<br>
			<br>
			Click here to see it in action: UNIQUE URL
			<br>
			The associate ID suffixes for every product will be 'tweethit-test' <br>
			For example: <br>
			(http://www.amazon.com/o/asin/asdlkf/tweethit-test)
			<br><br> <br><br> 
			
			</div>
		</div>
		
	</div>
	
	</div>
	<div id="footer"><br />
	</div>

</body>
</html>