<html>
  <head>
    <title>About</title>
  </head>

  <body>
	<form id='sampleform' method='post' action='' >
	First name: <input type="text" name="firstname" /><br />
	Last name: <input type="text" name="lastname" /><br />
	First name: <input type="text" name="firstname" /><br />
	Last name: <input type="text" name="lastname" /><br />
	First name: <input type="text" name="firstname" /><br />
	Last name: <input type="text" name="lastname" /><br />

	   <p>
	   <input type='submit' name='Submit' value='Submit' />
	   </p>
	</form>
  </body>
</html>

