
* {
	margin:0;
	padding:0;
	}
body {
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#393939;
	margin:25px 0 4px 0;
	color:#222222;
	}
img {
	border:0;
	}
p {
	margin-bottom:20px;
	line-height:20px;
	}

/* Structure */

#wrapper {
	width:700px;
	margin:0 auto;
	}
#header {
	height:100px;
	line-height:100px;
	background-image:url(/images/bg-header.gif);
	background-repeat:no-repeat;
	padding-left:15px;
	}
#navigation {
	float:right;
	margin-right:15px;
	}
#content {
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:top center;
	padding:10px 5px;
	font-size: 12pt;
	color: #222222;
	}
#footer {
	text-align:right;
	background-image:url(/images/bg-footer.gif);
	background-repeat:no-repeat;
	background-position:top center;
	line-height:24px;
	color:#efefef;
	}

/* Navigation */

#navigation ul {
	list-style-type:none;
	font-size: 40;
	}
#navigation li {
	float:left;
	text-align:center;
	text-transform:lowercase;
	}
#navigation li a {
	display:block;
	height:100px;
	width:75px;
	text-decoration:none;
	color:#ffffff;
	}
#navigation li a:hover {
	color:#222222;
	background:url(/images/bg-navigation-hover.gif);
	background-repeat:repeat-x;
	}
#navigation .active {
	color:#222222;
	background:url(/images/bg-navigation-hover.gif);
	background-repeat:repeat-x;
	}

/* Rankings */
#navcontainer ul
{
	padding: .5em 0;
	margin: 0;
	list-style-type: none;
	background-color:#fff;
	color: #7F7F7F;
	width: 100%;
	font: normal 90% arial, helvetica, sans-serif;
	text-align: center;
}

li 
{ display: inline;
  width: 100px;
}

li a
{
	text-decoration: none;
	background-color:#fff;
	color: #7F7F7F;
	padding: .2em 1em;
	font-size: 20px;
}

li a:hover
{
background-color: #D4D4F4;
color: #fff;
}
	
/* Headings */

h1 {
	font-size:30px;
	font-weight:normal;
	letter-spacing:-1px;
	}

h2 {
	font-size:25px;
	font-weight:normal;
	letter-spacing:-1px;
	}
	
/* List Items */


table {
	color: #7F7F7F;
	font: 0.8em/1.6em "Trebuchet MS",Verdana,sans-serif;
	border-collapse: collapse;
	font-size: 15pt;
}

table,caption {
	margin: 0 auto;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC
}

caption,th,td {
	border-left: 0;
	padding: 10px
}

caption,thead th,tfoot th,tfoot td {
	background-color: #E63C1E;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase
}

thead th {
	background-color: #FFFFFF;
	color: #666;
	font-size: 10pt;
	text-align: center;
}

tbody th {
	padding: 20px 10px
}

tbody tr {
	background-color: #FFF;
	color: #666
}

tbody a {
	padding: 1px 2px;
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #E63C1E
}

tbody a:active,tbody a:hover,tbody a:focus,tbody a:visited {
	color: #666
}

tbody tr:hover {
	background-color: #D4D4F4 ;
}


tbody td+td+td+td a {
	color: #C30;
	font-weight: bold;
	border-bottom: 0
}

tbody td+td+td+td a:active,tbody td+td+td+td a:hover,tbody td+td+td+td a:focus,tbody td+td+td+td a:visited {
	color: #E63C1E
}

tbody a:visited:after {
	font-family: Verdana,sans-serif;
	content: "\00A0\221A"
}

tbody td.tweet {
	font-weight: bold;
	font-size: 20pt;
}

tbody td.price {
	font-size: 12pt;
}

/* Link Colors */

h1 a {
	color:#fff;
	text-decoration:none;
	}
h1 a:hover {
	color:#fff;
	}

#content a {
	color:#222222;
	text-decoration:none;
	font-weight:bold;
	}
#content a:hover {
	color:#222222;
	text-decoration:underline;
	}

#footer a {
	color:#ffffff;
	text-decoration:none;
	border-bottom:1px dotted #ffffff;
	}
#footer a:hover {
	color:#ffffff;
	}

/* Locale Buttons */
/* Rankings */
#locale_container ul
{
	position:absolute;
    top: 10%;
    left: 50%;
	list-style-type: none;
}

#locale_container ul li{
    display: inline;}
 
#locale_container ul li a{
    float: left; 
	text-decoration: none;
	background-color: transparent;
    padding: 0px 5px;
}

#locale_container  a img { border: 0; margin: 0 0 1px; opacity: 1.0; }
#locale_container  a:hover img { margin: 1px 0 0; opacity: 0.75; }
	
/* Fixed Positioned Next & Prev buttons for days */

.prev_button{
    position: fixed;
    top: 80%;
    left: 50%;
    margin-left: -480px;
}

.next_button{
    position: fixed;
    top: 80%;
    left: 50%;
    margin-left: 360px;
}	
.navigation_buttons a img { border: 0; margin: 0 0 1px; opacity: 1.0; }
.navigation_buttons a:hover img { margin: 1px 0 0; opacity: 0.75; }
	
/* Fixed Positioned AddThis Toolbox */            
.addthis_toolbox.atfixed {
    position: fixed;
    top: 20%;
    left: 50%;
	margin-left: -400px;
    border: 1px solid #eee;
    padding: 5px 5px 1px;
    width: 32px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.addthis_toolbox .custom_images a {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.addthis_toolbox .custom_images a img { border: 0; margin: 0 0 1px; opacity: 1.0; }
.addthis_toolbox .custom_images a:hover img { margin: 1px 0 0; opacity: 0.75; }